.login-page {
  height: 100vh;
}

.login-form {
  width: 40%;
  margin: 30vh auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
}

.login-input {
  width: 70%;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
