.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
}

footer {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
