.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 15px;
  position: relative;
  height: 100%;
  color: rgba(0, 0, 0, 0.565);
  overflow-y: auto;
  gap: 10px;
}

.dialog-content::after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  right: 5px;
  top: 0;
}

.message-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.message {
  padding: 5px;
  border-radius: 10px;
  width: 55%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.msg-item {
  font-size: 12px;
}

.msg-item:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.msg-item:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.message-text {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
}
