.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 15px;
  position: relative;
  height: 100%;
  color: rgba(0, 0, 0, 0.565);
  overflow-y: auto;
  gap: 10px;
  position: relative;
}

.dialog-content::after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  right: 5px;
  top: 0;
}

.message-container {
  display: flex;
  width: 100%;
}

.left {
  justify-content: flex-start;
}

.left > .message > .msg-item:last-child {
  justify-content: flex-start;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.right > .message > .msg-item:first-child {
  justify-content: flex-end;
  padding-right: 10%;
}

.right > .message > .msg-item:first-child > :first-child {
  display: none;
}

.message {
  position: relative;
  padding: 5px;
  border-radius: 10px;
  width: 55%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.msg-item {
  font-size: 12px;
}

.msg-item:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.msg-item:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.message-text {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
}

.msg-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer {
  flex: 1;
}

.new-msg-line {
  font-size: 10px;
  position: relative;
  color: red;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  flex-shrink: 0;
}

.new-msg-line:before {
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 1px;
  width: 38%;
  margin: auto 0;
  background-color: red;
  left: 0;
}

.new-msg-line:after {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  content: '';
  height: 1px;
  width: 38%;
  margin: auto 0;
  background-color: red;
}

.message-menu-btn {
  position: absolute;
  color: rgba(0, 0, 0, 0.565);
  background-color: transparent;
  align-self: flex-end;
  width: 12px;
  height: 12px;
  right: 5px;
  top: 5px;
}
.message-menu-icon {
  width: 12px;
  height: 12px;
}

.message-menu-btn:hover {
  cursor: pointer;
}

.message-menu-btn:hover > .message-menu-icon {
  filter: invert(100%);
}

.message-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 195, 255);
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.message-menu-edit,
.message-menu-delete {
  cursor: pointer;
}

.message-menu-edit:hover,
.message-menu-delete:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
